<section class="advantages" id="benefits">
  <div class="adv-desktop container">
    <h2 class="advantages-title visually-hidden">Advantages</h2>
    <ul class="advantages-container">
      <li class="advantages-item">
        <div class="advantages-item-icon">
          <svg class="advantages-icon" width="22" height="22">
            <use href="../img/benefits/diamond.svg#diamond"></use>
          </svg>
        </div>
        <!-- <h3 class="advantages-title">Unsurpassed taste</h3> -->
        <p class="advantages-section-text">
          Я працюю не тільки з датою народження, дивлюсь не тільки матрицю долі,
          а маю 150 сакральних нумерологічних формул .
        </p>
        <div class="advantages-line"></div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-icon">
          <svg class="advantages-icon" width="22" height="22">
            <use href="../img/benefits/diamond.svg#diamond"></use>
          </svg>
        </div>
        <!-- <h3 class="advantages-title">Affordable price</h3> -->
        <p class="advantages-section-text">
          Я відчуваю, що саме зараз потрібно клієнту розпакувати.
        </p>
        <div class="advantages-line"></div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-icon">
          <svg class="advantages-icon" width="22" height="22">
            <use href="../img/benefits/diamond.svg#diamond"></use>
          </svg>
        </div>
        <!-- <h3 class="advantages-title">Own production</h3> -->
        <p class="advantages-section-text">
          Маю доступні ціни, є продукти з низькою і високою ціною.
        </p>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-icon">
          <svg class="advantages-icon" width="22" height="22">
            <use href="../img/benefits/diamond.svg#diamond"></use>
          </svg>
        </div>
        <!-- <h3 class="advantages-title">Own production</h3> -->
        <p class="advantages-section-text">
          Я працюю не тільки з людиною особисто, а з її сімʼєю , компанією та
          співробітниками.
        </p>
        <div class="advantages-line"></div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-icon">
          <svg class="advantages-icon" width="22" height="22">
            <use href="../img/benefits/diamond.svg#diamond"></use>
          </svg>
        </div>
        <!-- <h3 class="advantages-title">Own production</h3> -->
        <p class="advantages-section-text">
          Я підтримую людину і веду після консультації, якщо їй це потрібно.
        </p>
        <div class="advantages-line"></div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-icon">
          <svg class="advantages-icon" width="22" height="22">
            <use href="../img/benefits/diamond.svg#diamond"></use>
          </svg>
        </div>
        <!-- <div class="advantages-item-icon">
          <svg class="advantages-icon" width="32" height="32">
            <use href="/img/spryte.svg#icon-spoon"></use>
          </svg>
        </div> -->
        <!-- <h3 class="advantages-title">Own production</h3> -->
        <p class="advantages-section-text">
          Я завжди на звʼязку і допомагаю в складних ситуаціях-терміново
        </p>
      </li>
    </ul>
  </div>
</section>
