<section class="confident-section" id="confident-section">
    <div class="confident-container">
        <header class="confident-header">
            ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ
            <button class="confident-close-button" id="confident-close-button">&times;</button>
        </header>
        <div class="confident-content">
            
<h3>1. Загальні умови
</h3>

<p><strong>1.1.</strong> Ця Політика визначає порядок обробки та захисту фізичною особою-підприємцем Велігорською Марією Леонідівною, e-mail: m.gretskaya1@ukr.net(далі - "Власником") та її партнерами (далі - Партнери) інформації про фізичних осіб (далі — Користувач), яка може бути отримана Власником при придбанні Користувачем послуг, що надаються у тому числі за допомогою сайту, сервісів, служб, програм, які використовуються Власником та/або Партнерами (далі — Сайт, Сервіси).

<p><strong>1.2.</strong> Метою цієї Політики є забезпечення належного захисту персональної інформації, яку Користувач надає про себе самостійно під час використання Сайту, Сервісів або в процесі реєстрації, для придбання послуг, від несанкціонованого доступу та розголошення.

<p><strong>1.3.</strong> Відносини, пов'язані зі збиранням, зберіганням, розповсюдженням та захистом інформації, яку надає Користувач, регулюються цією Політикою, іншими офіційними документами Власника та чинним законодавством України.
<p><strong>1.4.</strong> Реєструючись на Сайті та використовуючи Сайт та Сервіси Власника Користувач висловлює свою повну згоду з умовами цієї Політики та надає згоду на обробку, використання, поширення своїх персональних даних згідно з її умовами.
    <p><strong>1.5.</strong> У разі незгоди Користувача з умовами цієї Політики використання Сайту та/або будь-яких Сервісів, доступних при використанні Сайту, має бути негайно припинено.

        <h3>2. Цілі збору, обробки та зберігання інформації, що надається користувачами Сайту та під час надання послуг.</h3>

        <p><strong>2.1.</strong> Обробка персональних даних Користувача здійснюється відповідно до законодавства України. Власник обробляє персональні дані Користувача з метою:</p>
        <ul>
            <li>ідентифікації сторони в рамках угод та договорів, що укладаються з Власником та/або Партнерами;</li>
            <li>надання Користувачеві товарів/послуг, доступу до закритих каналів, Сайту, Сервісів;</li>
            <li>зв'язку з Користувачем, направленні Користувачеві транзакційних листів у момент отримання заявки реєстрації на Сайті або отриманні оплати від Користувача, разово, якщо Користувач здійснює ці дії, направленні Користувачеві повідомлень, запитів;</li>
            <li>направленні Користувачеві повідомлень рекламного та/або інформаційного характеру;</li>
            <li>перевірки, дослідження та аналізу таких даних, що дозволяють підтримувати та покращувати сервіси та розділи Сайту, а також розробляти нові сервіси та розділи Сайту;</li>
            <li>проведення статистичних та інших досліджень, на основі знеособлених даних.</li>
        </ul>
        <p>Обробка вищевказаних персональних даних може здійснюватися шляхом змішаної обробки персональних даних, і може включати збір, систематизацію, накопичення, зберігання, уточнення, знеособлення, блокування, знищення персональних даних.</p>
        <p>Персональні дані можуть передаватися третім особам з метою отримання Користувачем послуг, а також для досягнення інших цілей щодо яких є домовленість Сторін.</p>
        <p>Персональні дані можуть опрацьовуватися протягом усього строку позовної давності, передбаченого законодавством України щодо укладеного Користувачем з Власником та/або Партнерами Договору.</p>
        
        <h3>3. Умови обробки персональної інформації наданої Користувачем та її передачі третім особам</h3>

        <ul>
            <li><strong>3.1.</strong> Власник вживає всіх необхідних заходів для захисту персональних даних Користувача від неправомірного доступу, зміни, розкриття чи знищення.</li>
            <li><strong>3.2.</strong> Власник надає доступ до персональних даних Користувача лише тим працівникам, підрядникам та Партнерам, яким ця інформація необхідна для забезпечення функціонування Сайту, Сервісів та надання Послуг.</li>
            <li><strong>3.3.</strong> Власник має право використовувати надану Користувачем інформацію, у тому числі персональні дані, з метою забезпечення дотримання вимог чинного законодавства України (у тому числі з метою запобігання та/або припинення незаконних та/або протиправних дій Користувачів). Розкриття наданої Користувачем інформації може бути здійснене лише відповідно до чинного законодавства України на вимогу суду, правоохоронних органів, а також в інших передбачених законодавством України випадках.</li>
            <li><strong>3.4.</strong> Власник не перевіряє достовірність інформації, яку надає Користувач, і виходить з того, що Користувач в рамках сумлінності надає достовірну та достатню інформацію, піклується про своєчасність внесення змін до раніше наданої інформації при появі такої необхідності, включаючи, але не обмежуючись зміною номера телефону.</li>
        </ul>
        

        <h3>4. Умови користування Сайтом, Сервісами, Навчальними матеріалами, послугами</h3>

        <ul>
            <li>
                <strong>4.1.</strong> Користувач при користуванні Сайтом, послугами, наданими матеріалами підтверджує, що:
                <ul>
                    <li>має всі необхідні права, що дозволяють йому здійснювати реєстрацію та використовувати Послуги, пропоновані Власником;</li>
                    <li>вказує достовірну інформацію про себе в обсягах, необхідних для користування Послугами, обов'язкові для заповнення поля для подальшого надання Послуг позначені спеціальним чином, вся інша інформація надається користувачем на власний розсуд;</li>
                    <li>ознайомлений із цією Політикою, висловлює свою згоду з нею та приймає на себе зазначені в ній права та обов'язки. Ознайомлення з умовами цієї Політики, розміщеної на сайті, є письмовою згодою Користувача на збирання, зберігання, обробку та передачу третім особам персональних даних, що надаються Користувачем.</li>
                </ul>
            </li>
            <li>
                <strong>4.2.</strong> Власник не перевіряє достовірність інформації, що одержується (збирається) про Користувачів, за винятком випадків, коли така перевірка необхідна з метою виконання зобов'язань перед Користувачем.
            </li>
        </ul>
        
        <h3>5. У рамках цієї Політики під «персональною інформацією Користувача» розуміються:</h3>

        <ul>
            <li>
                <strong>5.1.</strong> Дані, надані Користувачем самостійно при користуванні Сайтом, Сервісами, послугами (особистій переписці), можуть включати, але не обмежуючись: Прізвище, ім'я, по батькові; контактний (мобільний) телефони; та інші дані, необхідні для виконання домовленостей між сторонами.
            </li>
            <li>
                <strong>5.2.</strong> Дані, які автоматично передаються Сервісам у процесі їх використання за допомогою встановленого на пристрої Користувача програмного забезпечення, у тому числі IP-адреси, інформація з cookie, інформація про браузер Користувача (або іншої програми, за допомогою якої здійснюється доступ до Сервісів), час доступу, адреса запитуваної сторінки.
            </li>
        </ul>
        
        <h3>6. Зміна Політики конфіденційності. Застосовне законодавство</h3>
        <ul>
            <li>
                <strong>6.1.</strong> Власник має право вносити зміни до цієї Політики конфіденційності. Під час внесення змін до актуальної редакції вказується дата останнього оновлення. Нова редакція Політики набирає чинності з її розміщення, якщо інше не передбачено новою редакцією Політики.
            </li>
            <li>
                <strong>6.2.</strong> До цієї Політики та відносин між Користувачем та Власником, що виникають у зв'язку із застосуванням Політики конфіденційності, підлягає застосуванню право України.
            </li>
        </ul>
        
        <h3>7. Зворотній зв'язок. Запитання та пропозиції</h3>
        <ul>
            <li>
                <strong>7.1.</strong> Усі пропозиції або питання щодо цієї Політики слід повідомляти в Службу підтримки проекту шляхом надсилання повідомлення на e-mail: <a href="mailto:m.gretskaya1@ukr.net">m.gretskaya1@ukr.net</a>.
            </li>
        </ul>
        <p>            
            <strong>Реквізити Виконавця:
            </strong><br>
            <strong>Фізична особа-підприємець Велігорська Марія Леонідівна</strong><br>
            <strong>РНКОПП 3165301422</strong><br>
            <strong>адреса:</strong> Україна, 15040, Чернігівська обл., Ріпкинський р-н, село Мохначі,<br>
            <strong>вул. Смолигівська, буд. 17</strong><br>
            <strong>e-mail:</strong> <strong><a href="mailto:m.gretskaya1@ukr.net">m.gretskaya1@ukr.net</a></strong>
        </p>
        
   
           
        </div>
    </div>
</section>
