<footer id="footer" class="footer-section">
  <div class="container">
    <div class="footer-wrapper">
      <h2 class="footer-title">
        <span class="footer-marked-word">Створи</span> життя своєї мрії за
        законами Карми
      </h2>
      <div class="footer-adress-wrapper">
        <address class="footer-contacts">
          <p class="footer-contacts-text">Контакти</p>
          <ul class="footer-contacts-list">
            <li>
              <a class="footer-contacts-item" href="tel:+380684439426"
                >+380 (63) 183-72-26</a
              >
            </li>
            <li>
              <a
                class="footer-contacts-item footer-contacts-email"
                href="mailto:simplychoc@gmail.com"
                >m.gretskaya1@ukr.net</a
              >
            </li>
          </ul>
        </address>
        <ul class="footer-social-media-list">
          <li>
            <a
              class="footer-social-media-item link"
              href="https://instagram.com/numerology_miraveligorska?igshid=OGQ5ZDc2ODk2ZA=="
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-media-icon" width="26" height="26">
                <use href="./img/spryte.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-media-item">
            <a
              class="mob-menu-social-link link"
              href="https://instagram.com/numerology_miraveligorska?igshid=OGQ5ZDc2ODk2ZA=="
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-media-icon" width="26" height="26">
                <use href="./img/spryte.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-media-item">
            <a
              class="mob-menu-social-link link"
              href="mailto:m.gretskaya1@ukr.net"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-media-icon" width="26" height="32">
                <use href="./img/spryte.svg#icon-mail"></use>
              </svg>
            </a>
          </li>
        </ul>

        <!-- <ul class="header-social-list list">
          <li class="header-social-item">
            <a
              class="header-social-link link"
              href="https://instagram.com/numerology_miraveligorska?igshid=OGQ5ZDc2ODk2ZA=="
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="header-social-icon" width="23" height="23">
                <use href="./img/spryte.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-social-item">
            <a
              class="header-social-link link"
              href="https://instagram.com/numerology_miraveligorska?igshid=OGQ5ZDc2ODk2ZA=="
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="header-social-icon" width="26" height="26">
                <use href="./img/spryte.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="header-social-item">
            <a
              class="header-social-link link"
              href="mailto:m.gretskaya1@ukr.net"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="header-social-icon" width="26" height="32">
                <use href="../img/spryte.svg#icon-mail"></use>
              </svg>
            </a>
          </li>
        </ul> -->
      </div>
    </div>

    <div class="footer-line"></div>
    <div class="footer-navigation-menu">
      <ul class="footer-navigation-list">
        <li class="footer-navigation-item">
          <a class="footer-navigation-link" href="#header">Головна</a>
        </li>
        <li class="footer-navigation-item">
          <a class="footer-navigation-link" href="#benefits">Чому саме я?</a>
        </li>
        <li class="footer-navigation-item">
          <a class="footer-navigation-link" href="#our-products">Про мене</a>
        </li>
        <li class="footer-navigation-item">
          <a class="footer-navigation-link" href="#top-sellers">Послуги</a>
        </li>
        <li class="footer-navigation-item">
          <a class="footer-navigation-link" href="#chocolate-is-loved"
            >Відгуки</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
