<header class="page-header">
  <div class="header-container container">
    <a id="header" class="header-logo link" href="./index.html">
      <span class="header-logo-name"
        >Maria Veligorska
        <span class="header-logo-profession">numerology</span></span
      >
      <svg class="header-logo-icon" width="35" height="35">
        <use href="./img/spryte.svg#numerology"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#benefits">Чому саме я ?</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#services">Послуги</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#reviews">Відгуки</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#footer">Контакти</a>
        </li>
      </ul>
    </nav>
    <button class="mobile-menu-open-btn js-open-menu" type="button">
      <svg class="mobile-menu-open-icon" width="28" height="28">
        <use href="./img/spryte.svg#icon-burger"></use>
      </svg>
    </button>

    <ul class="header-social-list list">
      <li class="header-social-item">
        <a
          class="header-social-link link"
          href="https://instagram.com/numerology_miraveligorska?igshid=OGQ5ZDc2ODk2ZA=="
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-social-icon" width="27" height="27">
            <use href="./img/spryte.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link link"
          href="https://instagram.com/numerology_miraveligorska?igshid=OGQ5ZDc2ODk2ZA=="
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-social-icon" width="27" height="27">
            <use href="./img/spryte.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link link"
          href="mailto:m.gretskaya1@ukr.net"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-social-icon" width="33" height="33">
            <use href="./img/spryte.svg#icon-mail"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="mobile-menu js-menu-container">
    <div class="mobile-menu-container container">
      <button class="mobile-menu-close-btn js-close-menu" type="button">
        <svg class="mobile-menu-close-icon" width="20" height="20">
          <use href="./img/spryte.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="mobile-nav-list list">
        <li class="mobile-nav-item">
          <a class="mobile-nav-link link" href="#benefits">Чому саме я ?</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link link" href="#services">Послуги</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link link" href="#reviews">Відгуки</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link link" href="#footer">Контакти</a>
        </li>
      </ul>
      <ul class="mob-menu-social-list list">
        <li class="mob-menu-social-item">
          <a
            class="mob-menu-social-link link"
            href="https://instagram.com/numerology_miraveligorska?igshid=OGQ5ZDc2ODk2ZA=="
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="mob-menu-social-icon" width="27" height="27">
              <use href="./img/spryte.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li class="mob-menu-social-item">
          <a
            class="mob-menu-social-link link"
            href="https://instagram.com/numerology_miraveligorska?igshid=OGQ5ZDc2ODk2ZA=="
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="mob-menu-social-icon" width="27" height="27">
              <use href="./img/spryte.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="mob-menu-social-item">
          <a
            class="mob-menu-social-link link"
            href="mailto:m.gretskaya1@ukr.net"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="mob-menu-social-icon" width="33" height="33">
              <use href="./img/spryte.svg#icon-mail"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
