<section class="services-section" id="services">
  <div class="container">
    <h2 class="services-title">
      <span class="services-title-span">ПОСЛУГИ</span>
      , ЯКІ Я НАДАЮ
    </h2>
    <div class="services-container">
      <div class="services-video">
        <div class="services-video-wrapper">
          <video
            class="services-video"
            src="/nimble-fox-c901c3/Veligorska_numerology/assets/video1.mp4"
            width="100%"
            height="100%"
            controls
            loop
            preload="auto"
          ></video>
        </div>
      </div>
      <div class="services-description">
        <ul class="description-list">
          <li class="description-list-item">Своє призначення</li>
          <li class="description-list-item">Свої кармічні задачі</li>
          <li class="description-list-item">Сумісність з партнером</li>
          <li class="description-list-item">Сумісність з бізнес-партнерами</li>
          <li class="description-list-item">
            Повний розрахунок вашого бізнесу і штату працівників
          </li>
          <li class="description-list-item">Як з мінуса створити плюс</li>
          <li class="description-list-item">Як розвʼязати кармічні вузли</li>
          <li class="description-list-item">Ваш сценарій карми</li>
          <li class="description-list-item">Відпрацювання по роду</li>
          <li class="description-list-item">
            Як підсилити свої сильні сторони
          </li>
          <li class="description-list-item">Прогностику року, місяця, дня</li>
          <li class="description-list-item">
            Дитячі матриці долі, взаємодія з батьками, задачі в роду,
            призначення дітей
          </li>
          <li class="description-list-item">
            Чому не має дітей? Чому не має грошей? Чому не має кохання? Чому не
            має здоров'я? Це все можна побачити в прорахунках і знайти вихід
          </li>
          <li class="description-list-item">
            Все про здоров'я, онкологію, аутизм та інші захворювання
          </li>
          <li class="description-list-item">
            А саме головне я підсилюю інформацію емоціями, силою, енергією , щоб
            людина після отримання інформації створила своє щасливе життя,
            завдяки кармічним інструментам і зерняткам карми.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
